/* Page Header section
================================ */
.header {
    @include padding(25px 0);
    position: relative; 
    z-index: 9999;
    width: $viewportSize;
    @include transition(all 0.3s ease);
    background: rgba($white, 1) none repeat scroll 0 0;
    
    &__section {
        &-left {
            ul {
                overflow: hidden;
                @media #{$media-ipadPortrait} {
                    -webkit-box-pack: justify;
                    -moz-box-pack: justify;
                    -ms-flex-pack: justify;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                }
                li {
                    float: left; 
                    &.logo-aap {
                        width: 100px;
                    }
                    &.logo-cognitives {
                        width: 230px;
                    }
                    + li {
                        margin-left: 40px;
                    }
                    a {
                        display: block;
                        @include transition(all 0.3s ease);
                    }
                }
            }
        }
        &-right {
            text-align: right;
            @media #{$media-ipadSmall} {
                text-align: center;
                margin-top: 15px;
            }
        }
    }
    &__fixed {
        @include padding(15px 0);
        position: fixed;
        .header__section {
            &-left {
                ul li {
                    &.logo-aap {
                        width: 70px;
                    }
                    &.logo-cognitives {
                        width: 160px; 
                    }
                }
            }
            &-right {
                .button {
                    @include padding(10px 16px);
                }
                @media #{$media-ipadPortrait} {
                    display: none;
                }
            }
        }
    }
}