/* Page Footer section
================================ */
.footer {
    background: $black2 none repeat scroll 0 0;
    @include padding(30px 0);
    &__content {
        @media #{$media-ipadPortrait} {
            margin-top: 20px;
        }
        p {
            margin-bottom: 0px;
            color: $light-grey;
            @include font-size(12);
            line-height: 1.5;
            text-align: right;
            @extend .font-medium;
            @media #{$media-ipadPortrait} {
                text-align: center;
            }
            a {
                color: $light-grey;
                @include font-size(12);
                &:after {
                    content: '|';
                    margin-left: 5px;
                    margin-right: 1px;
                }
                &:hover, &:focus {
                    color: $white;
                    &:after {
                        color: $light-grey;
                    }
                }
            } 
        }
    }
    &__logo {
        ul {
            overflow: hidden;
            @media #{$media-ipadPortrait} {
                -webkit-box-pack: justify;
                -moz-box-pack: justify;
                -ms-flex-pack: justify;
                -webkit-justify-content: center;
                justify-content: center;
            }
            li {
                float: left; 
                &.logo-aap {
                    width: 80px;
                    @media #{$media-tablet} {
                        width: 50px;
                    }
                }
                &.logo-cognitives {
                    width: 160px;
                    @media #{$media-tablet} {
                        width: 120px;
                    }
                }
                + li {
                    margin-left: 40px;
                }
                a {
                    display: block;
                    @include transition(all 0.3s ease);
                }
            }
        }
    }
    @media #{$media-ipadPortrait} {
        .flex-last {
            -webkit-box-ordinal-group: 0;
            -webkit-order: -1;
            -ms-flex-order: -1;
            order: -1;
        } 
        .flex-first {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}