/* Image with content section
================================ */

.image-withContent__wrapper {
    &-image {
        min-height: $viewportSize;
        position: relative;
        height: 650px;
        @media (max-width: 1320px) {
            height: 500px;
        }
        @media #{$media-ipadSmall} {
            height: 450px;
        }
        &.video {
            &:after {
                content: '';
                z-index: 99;
                @include linear-gradient(rgba(25, 44, 84, 0.2), $zblack);
                @include size(#{$viewportSize});
                position: absolute;
                top: 0;
                left: 0;
            }
            .video-title {
                z-index: 100;
                position: absolute;
                bottom: 40px;
                left: 40px;
                width: 80%;
                max-width: 350px;
                @media #{$media-ipadPortrait} {
                    left: 20px;
                }
                .icon {
                    @include size(55px);
                    @include border-radius(50%);
                    border: 1px solid $white;
                    display: block;
                    position: relative;
                    &:before {
                        content: '\f04b';
                        font-family: $iconfont;
                        position: absolute;
                        left: 52%;
                        top: 52%;
                        @include translate(-50%,-50%);
                        @include font-size(28);
                        line-height: 1;
                    }
                }
                .title {
                    @extend .font-bold;
                    @include font-size(26);
                    line-height: 1.23;
                    margin-left: 25px;
                    max-width: 270px;
                }
            }
        }
    }
    &-content {
        min-height: $viewportSize;
        @media #{$media-ipadSmall} {
            &.justify-content-center {
                -webkit-justify-content: flex-start;
                justify-content: flex-start;
            }
        }
        h3 {
            @include font-size(38); 
            @extend .font-medium;
            line-height: 1.32;
            margin-bottom: 15px;
        }
        p {
            @include font-size(17);
            @extend .font-regular;
        }
        .button {
            margin-top: 20px;
        }
        .listing__view {
            @media #{$media-ipadSmall} {
                @include padding(50px 0 40px); 
            }
            li {
                width: 50%; 
                color: $zblack;
                margin: 20px 0;
                @media #{$media-ipadPortrait} {
                    width: $viewportSize;
                    margin-bottom: 25px;
                    &:first-child {
                        margin-top: 25px;
                    }
                }
            }
            &-container {
                max-width: 80%;
                @include flexbox(); 
            }
            &-content {
                margin-left: 15px;
                width: calc(#{$viewportSize} - 45px);
                h3 {
                    @extend .font-bold;
                    @include font-size(20);
                    line-height: 1.5 !important;
                    margin-bottom: 8px;
                }
                p {
                    @include font-size(15);
                    @extend .font-medium;
                }
            }
        }
        .logos-section {
            width: $viewportSize;
            margin-top: 30px;
            li {
                width: 150px;
                a {
                    display: block;
                }
                &.cognitives { 
                    width: 200px;
                }
                @media #{$media-ipadPortrait} {
                    width: 100px;
                    &.cognitives { 
                        width: 150px;
                    }
                }
            }
        }
        @extend .containerFluid-content;
        &-rightContainer {
            @extend .containerFluid-content-left;
            @include padding(10px 60px 10px 90px);
            @media (max-width: 1320px) {
                @include padding(10px 10px 10px 90px);
            }
            @media #{$media-ipadPortrait} {
                @include padding(10px 10px 10px 40px);
            }
            @media #{$media-ipadSmall} {
                @include padding(50px 10px 40px 0px);
                float: none !important;
            }
        }
        &-blackTxt {
            h3, p {
                color: $zblack;
            }
        }
    }
    @extend .flip-containers;
}