/* table section
================================ */

.table {
    &--customized {
        border-spacing: 0px 18px;
        border-collapse: separate; 
        thead {
            th {
                @extend .font-semiBold;
                @include font-size(16);
                color: $zblack;
                border: none; 
            }
        }
        tbody {
            tr {
                td {
                    background: #f9f6f3 none repeat scroll 0 0;
                    border-bottom: 1px solid #adacac;
                    vertical-align: middle;
                    @extend .font-semiBold;
                    @include font-size(16);
                    color: $zblack;
                    span {
                        display: block;
                        @include font-size(12);
                        @extend .font-regular;
                        margin-top: 5px;
                    }
                    &:after {
                        //content: '';
                        position: absolute;
                        bottom: 0;
                        left:0;
                        width: $viewportSize;
                        height: 1px;
                        display: block;
                        background: #adacac none repeat scroll 0 0;
                    }
                }
            }
        }
    }
}