/* Global Fonts Path
   ================================== */

$primary-fonts:        "../fonts/raleway";

/* Roboto Font */
@font-face {
    font-family: 'RalewayLight';
    src: url('#{$primary-fonts}/RalewayLight.eot');
    src: url('#{$primary-fonts}/RalewayLight.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewayLight.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewayLight.woff') format('woff'),
         url('#{$primary-fonts}/RalewayLight.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewayLight.svg#RalewayLight') format('svg');
}
@font-face {
    font-family: 'RalewayRegular';
    src: url('#{$primary-fonts}/RalewayRegular.eot');
    src: url('#{$primary-fonts}/RalewayRegular.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewayRegular.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewayRegular.woff') format('woff'),
         url('#{$primary-fonts}/RalewayRegular.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewayRegular.svg#RalewayRegular') format('svg');
}

@font-face {
    font-family: 'RalewayMedium';
    src: url('#{$primary-fonts}/RalewayMedium.eot');
    src: url('#{$primary-fonts}/RalewayMedium.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewayMedium.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewayMedium.woff') format('woff'),
         url('#{$primary-fonts}/RalewayMedium.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewayMedium.svg#RalewayMedium') format('svg');
}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('#{$primary-fonts}/RalewaySemiBold.eot');
    src: url('#{$primary-fonts}/RalewaySemiBold.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewaySemiBold.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewaySemiBold.woff') format('woff'),
         url('#{$primary-fonts}/RalewaySemiBold.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
}
@font-face {
    font-family: 'RalewayBold';
    src: url('#{$primary-fonts}/RalewayBold.eot');
    src: url('#{$primary-fonts}/RalewayBold.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewayBold.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewayBold.woff') format('woff'),
         url('#{$primary-fonts}/RalewayBold.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewayBold.svg#RalewayBold') format('svg');
}
@font-face {
    font-family: 'RalewayBlack';
    src: url('#{$primary-fonts}/RalewayBlack.eot');
    src: url('#{$primary-fonts}/RalewayBlack.eot') format('embedded-opentype'),
         url('#{$primary-fonts}/RalewayBlack.woff2') format('woff2'),
         url('#{$primary-fonts}/RalewayBlack.woff') format('woff'),
         url('#{$primary-fonts}/RalewayBlack.ttf') format('truetype'),
         url('#{$primary-fonts}/RalewayBlack.svg#RalewayBlack') format('svg');
}


