/* Custom Grid
   ================================ */
.genneric-section {
    &--title-head {
        @include padding-right(80px);

        @media #{$media-desktop} {
            @include padding-right(30px);
        }

        h3 {
            color: $zblack;
            @extend .font-semiBold;
            @include font-size(20);
            margin-top: 20px;
            margin-bottom: 15px;

            &.small-16 {
                @include font-size(16);
            }

            &.large-22 {
                @include font-size(22);
            }

            span {
                @include font-size(14);
                display: block;
            }

            &.bold {
                @extend .font-bold;
            }
        }

        img {
            @media #{$media-ipadPortrait} {
                margin-bottom: 20px;
            }
        }

        &.first {
            @media #{$media-ipadPortrait} {
                border-bottom: 2px solid $borderlight;
                @include padding-bottom(10px);
                margin-bottom: 20px;
            }
        }

        &.single-view {
            border-bottom: 2px solid $borderlight;
            @include padding(0 20px 80px 0);
            display: inline-block;

            @media #{$media-ipadPortrait} {
                border-bottom: 2px solid $borderlight;
                @include padding-bottom(10px);
            }
        }
    }

    &--head-borderLine {
        height: 2px;
        width: 200px;
        background: $borderlight none repeat scroll 0 0;
        margin-top: 10px;

        &.extra-space20 {
            margin-top: 20px;
        }
    }

    &--content {
        p {
            color: $zblack;
            @extend .font-medium;
            letter-spacing: 0;

            &.highlight {
                @include font-size(18);
                line-height: 1.5 !important;
                margin-bottom: 20px;
            }

            &.bold {
                @extend .font-bold;
            }

            span {
                &.bold {
                    @extend .font-bold;
                }
            }
        }

        h3 {
            margin-bottom: 10px;
            color: $zblack;
            @extend .font-bold;
        }

        .generic-listing {
            li {
                @include font-size(18);
                line-height: 1.5 !important;
                margin-bottom: 20px;
                color: $zblack;
                @extend .font-medium;
                letter-spacing: 0;
                padding-left: 35px;
                display: block;

                &:before {
                    content: '';
                    background: url('../images/icons/theme/enterprise.svg');
                    @include size(25px);
                    background-size: 25px;
                    display: inline-flex;
                    position: absolute;
                    left: 0;
                    background-repeat: no-repeat;
                }

                span {
                    &.bold {
                        @extend .font-bold;
                    }
                }
            }
        }
    }
}