@charset "utf-8";  
/* CSS Document */ 

/*! ATTENTION:This project uses SASS! Please make your CSS edits in sass/default.scss. */

/* Basic Includes
   ================================ */
@import 'variables'; 
@import 'misc/mixins';
@import 'misc/reset';
@import 'misc/custom_grid';
@import 'misc/container'; 
@import 'misc/extends'; 
@import 'misc/fonts'; 
@import 'misc/typography'; 
@import 'misc/positioning';
  
/* Begin Basic Coding
   ================================ */
/* Basic
----------------------------- */
html,
body {
    @include size($viewportSize);
    min-height: 100% !important;
}
body {
    height: auto; 
    background:$defaultbg none repeat scroll 0 0;
    color: $white;
    font-family: $primary-fonts-light;
    font-weight: $weightRegular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
ul li, ol li {
    font-weight: $weightRegular;
}
.getForm__wrapper {
    position: relative;
    width: $viewportSize;
    @include padding(6rem 0 8rem);
    min-height: calc(100vh - 198px); 
    &-form {
        .title {
            @include font-size(38);
            margin: 15px 0;
        }
        .form-fields {
            margin-top: 60px;
        }
    }
    &-image {
        float: right;
        @include padding-left(30px); 
    }
    @extend .flip-containers;
    @media #{$media-tablet} {
        .flex-first {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}
.aboutProduct__section {
    background: $white none repeat scroll 0 0;
    position: relative;
    .flex-last {
        z-index: 100;
    }
    &-content {
        @include padding(60px 0);
        h2 {
            @include font-size(38);
            color: $zblack;
            @extend .font-regular;
        }
        p {
            @include font-size(17);
            color: $zblack;
            margin-top: 15px;
        }
    }
    &-image {
        @include translate(0%, -50%);
        z-index: 100; 
        position: absolute;
        top: 0;
        right: 0;
        @media #{$media-ipadPortrait} {
            position: relative;
            @include translate(0%, 0%);
            display: none;
        }
    }
    @media #{$media-ipadPortrait} {
        .flex-last {
            -webkit-box-ordinal-group: 0;
            -webkit-order: -1;
            -ms-flex-order: -1;
            order: -1;
        } 
        .flex-first {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}
.innovation__wrapper {
    background: $white none repeat scroll 0 0;
}
/* End Basic Coding
   ================================ */

/* Miscellaneous Includes
   ================================ */
@import 'misc/globalClasses';

/* Elements Includes
   ================================ */

@import 'elements/key_elements/buttons';
@import 'elements/key_elements/form'; 
@import 'elements/key_elements/banner';
@import 'elements/key_elements/image-withContent';
@import 'elements/pagecontrols/pageheader'; 
@import 'elements/pagecontrols/pagefooter';

@import 'elements/dependencies_Breakup';

/* Pages Includes
   ================================ */
